<header><a href="/"><img src="/assets/favicon/favicon.png" width="50px" class="logo" style="">DREGS</a></header>
<p>D&D 4E world diary</p>
<p><a href="/entries/">ENTRIES</a> ... <a href="/notes/">NOTES</a> ... <a href="/about/">ABOUT</a></p>
<hr>